/*
Run this script on:

PROGRAMERI\EC2012.Prokontik12    -  This database will be modified

to synchronize it with:

PROGRAMERI\EC2012.Prokontik

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 9.0.0 from Red Gate Software Ltd at 19/12/12 10:10:04

*/

----------------------------------------
--  DROP AND CREATE TABLE kontniPlan  --
----------------------------------------

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[kontniPlan]') AND type in (N'U'))
DROP TABLE [dbo].[kontniPlan]
GO

CREATE TABLE [dbo].[kontniPlan](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[F1] [nvarchar](50) NULL,
	[F2] [nvarchar](255) NULL,
 CONSTRAINT [PK_kontniPlan] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

-----------------------------------------------


		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
-- Pointer used for text / image updates. This might not be needed, but is declared here just in case
DECLARE @pv binary(16)

-- Add 2036 rows to [dbo].[kontniPlan]
SET IDENTITY_INSERT [dbo].[kontniPlan] ON
INSERT INTO [dbo].[kontniPlan] ([aid], [F1], [F2]) VALUES (1, N'0', N'Upisani neuplaćeni kapital I stalna sredstva')
INSERT INTO [dbo].[kontniPlan] ([aid], [F1], [F2]) VALUES (2, N'010', N'Ulaganje u razvoj')
INSERT INTO [dbo].[kontniPlan] ([aid], [F1], [F2]) VALUES (3, N'0100', N'Dugoročnа ulаgаnjа u rаzvoj mаterijаlа, uređаjа i proizvodа')
SET IDENTITY_INSERT [dbo].[kontniPlan] OFF
COMMIT TRANSACTION
GO
